<html>

<head>
  
</head>

<body>
 
  <!-- Login -->
  <div *ngIf="Login" class="login-box">
    <h2>Login</h2>
    <form [formGroup]="reactiveForm" #form="ngForm" (ngSubmit)="onSubmitLogin()">
      <div class="user-box">
        <input type="text" autocomplete="false" formControlName="user_email">
        <label>Username</label>
      </div>
      <div class="user-box">
        <input type="password" autocomplete="false" formControlName="user_password">
        <label>Password</label>
      </div>
      <button type="submit">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </button>
      <!-- <a href="#" type="submit">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            
          </a> -->
    </form>
    <label style="margin-top: 25px;float: right;" (click)="showHideRegistrationForm(0)"> <b>Register?</b></label>
  </div>


  <!-- Registration -->

  <div *ngIf="!Login" class="login-box" style="width: 50% !important;">
    <h2>Registration</h2>
    <form [formGroup]="reactiveFormRegistration" #form="ngForm" (ngSubmit)="onSubmitRegistration()">
      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <div class="user-box">
              <input type="text" autocomplete="false" formControlName="user_name">
              <label>Name</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="user-box">
              <input type="text" autocomplete="false" formControlName="user_email">
              <label>Email</label>
            </div>
          </div>
        </div>
      </div>


      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <div class="user-box">
              <input type="password" autocomplete="false" formControlName="user_password">
              <label>Password</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="user-box">
              <input type="number" autocomplete="false" formControlName="user_contact">
              <label>Contact</label>
            </div>
          </div>
        </div>
      </div>


      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <div class="user-box">
              <input type="text" autocomplete="false" formControlName="user_address">
              <label>Address</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="user-box">
              <input type="number" autocomplete="false" formControlName="user_age">
              <label>Age</label>
            </div>
          </div>
        </div>
      </div>


      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <div class="user-box">
              <input type="text" autocomplete="false" formControlName="user_gender">
              <label>Gender</label>
            </div>

          </div>

        </div>
      </div>






      <button type="submit">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </button>
      <!-- <a href="#" type="submit">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            
          </a> -->
    </form>
    <label style="margin-top: 25px;float: right;" (click)="showHideRegistrationForm(1)"> <b>Back To Login</b></label>
  </div>

</body>

</html>