<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>




<nav class="navbar navbar-default">
  <div class="container-fluid" style="background-color: cornflowerblue;"> 
    <div class="navbar-header">
      <a class="navbar-brand active" style="color: white;" href="#">Home</a>
    </div> 
    <ul class="nav navbar-nav">
      <li><a href="/Data" style="color: white;">Users</a></li>
      <li><a href="#" style="color: white;">Page 2</a></li>
      <li><a href="#" style="color: white;">Page 3</a></li>
    </ul>
  </div>
</nav>
  

<div>
  <div class="container" style="margin-top: 20px;">
    <router-outlet></router-outlet>
  </div>
</div>